In [1]:
import numpy as np
import pandas as pd

In [2]:
month = ['January','Feburary','March','April','May','June'] 
days = np.arange(1,31)
np.random.seed(5)
readings = np.random.randint(19,40,180)
readings = readings.reshape(30,6)


temp = pd.DataFrame(data = readings ,index = days, columns = month)
temp

    January  Feburary  March  April  May  June
1        22        33     34     25   35    28
2        27        23     26     35   35    26
3        31        34     36     26   35    31
4        32        30     20     34   39    37
5        28        29     28     28   20    37
6        26        35     33     24   19    35
7        23        33     23     28   38    21
8        23        25     28     38   38    37
9        36        26     23     31   32    30
10       30        22     20     22   33    20
11       26        35     33     28   25    34
12       35        24     21     32   32    30
13       27        19     31     31   24    33
14       34        37     19     26   26    35
15       19        27     31     24   30    24
16       28        39     24     37   20    34
17       25        22     34     39   36    27
18       19        37     32     34   37    39
19       36        38     39     30   38    36
20       23        37     38     23   28    39
21       19        29     34     25   28    33
22       21        38     19     27   27    26
23       31        39     27     29   27    19
24       34        33     24     22   30    30
25       23        19     21     21   36    20
26       32        20     37     38   19    32
27       28        20     28     19   27    26
28       23        34     36     23   37    20
29       24        23     37     21   32    20
30       37        22     20     37   39    28

In [3]:
# this is how to return a single column
temp['March']

1     34
2     26
3     36
4     20
5     28
6     33
7     23
8     28
9     23
10    20
11    33
12    21
13    31
14    19
15    31
16    24
17    34
18    32
19    39
20    38
21    34
22    19
23    27
24    24
25    21
26    37
27    28
28    36
29    37
30    20
Name: March, dtype: int32

In [4]:
# return a single column in 2d
temp[['March']]

    March
1      34
2      26
3      36
4      20
5      28
6      33
7      23
8      28
9      23
10     20
11     33
12     21
13     31
14     19
15     31
16     24
17     34
18     32
19     39
20     38
21     34
22     19
23     27
24     24
25     21
26     37
27     28
28     36
29     37
30     20

In [5]:
temp[['January','March','June']]

    January  March  June
1        22     34    28
2        27     26    26
3        31     36    31
4        32     20    37
5        28     28    37
6        26     33    35
7        23     23    21
8        23     28    37
9        36     23    30
10       30     20    20
11       26     33    34
12       35     21    30
13       27     31    33
14       34     19    35
15       19     31    24
16       28     24    34
17       25     34    27
18       19     32    39
19       36     39    36
20       23     38    39
21       19     34    33
22       21     19    26
23       31     27    19
24       34     24    30
25       23     21    20
26       32     37    32
27       28     28    26
28       23     36    20
29       24     37    20
30       37     20    28

In [6]:
temp.loc[25] # in series

January     23
Feburary    19
March       21
April       21
May         36
June        20
Name: 25, dtype: int32

In [7]:
temp.loc[[25]] # in dataframe form

    January  Feburary  March  April  May  June
25       23        19     21     21   36    20

In [8]:
# how to select on a default label

temp.iloc[24]

January     23
Feburary    19
March       21
April       21
May         36
June        20
Name: 25, dtype: int32

In [9]:
temp.iloc[[24]]

    January  Feburary  March  April  May  June
25       23        19     21     21   36    20

In [10]:
temp.iloc[0:10,2:4]

    March  April
1      34     25
2      26     35
3      36     26
4      20     34
5      28     28
6      33     24
7      23     28
8      28     38
9      23     31
10     20     22

In [11]:
np.random.seed(5)
temp['July'] = np.random.randint(19,40,30).reshape(30,1)
temp

    January  Feburary  March  April  May  June  July
1        22        33     34     25   35    28    22
2        27        23     26     35   35    26    33
3        31        34     36     26   35    31    34
4        32        30     20     34   39    37    25
5        28        29     28     28   20    37    35
6        26        35     33     24   19    35    28
7        23        33     23     28   38    21    27
8        23        25     28     38   38    37    23
9        36        26     23     31   32    30    26
10       30        22     20     22   33    20    35
11       26        35     33     28   25    34    35
12       35        24     21     32   32    30    26
13       27        19     31     31   24    33    31
14       34        37     19     26   26    35    34
15       19        27     31     24   30    24    36
16       28        39     24     37   20    34    26
17       25        22     34     39   36    27    35
18       19        37     32     34   37    39    31
19       36        38     39     30   38    36    32
20       23        37     38     23   28    39    30
21       19        29     34     25   28    33    20
22       21        38     19     27   27    26    34
23       31        39     27     29   27    19    39
24       34        33     24     22   30    30    37
25       23        19     21     21   36    20    28
26       32        20     37     38   19    32    29
27       28        20     28     19   27    26    28
28       23        34     36     23   37    20    28
29       24        23     37     21   32    20    20
30       37        22     20     37   39    28    37

In [12]:
# how to create a new column out of an existing column

temp['Total'] = temp['January'] + temp['Feburary'] + temp['March'] + temp['April']  + temp['May']  + temp['June']
temp

    January  Feburary  March  April  May  June  July  Total
1        22        33     34     25   35    28    22    177
2        27        23     26     35   35    26    33    172
3        31        34     36     26   35    31    34    193
4        32        30     20     34   39    37    25    192
5        28        29     28     28   20    37    35    170
6        26        35     33     24   19    35    28    172
7        23        33     23     28   38    21    27    166
8        23        25     28     38   38    37    23    189
9        36        26     23     31   32    30    26    178
10       30        22     20     22   33    20    35    147
11       26        35     33     28   25    34    35    181
12       35        24     21     32   32    30    26    174
13       27        19     31     31   24    33    31    165
14       34        37     19     26   26    35    34    177
15       19        27     31     24   30    24    36    155
16       28        39     24     37   20    34    26    182
17       25        22     34     39   36    27    35    183
18       19        37     32     34   37    39    31    198
19       36        38     39     30   38    36    32    217
20       23        37     38     23   28    39    30    188
21       19        29     34     25   28    33    20    168
22       21        38     19     27   27    26    34    158
23       31        39     27     29   27    19    39    172
24       34        33     24     22   30    30    37    173
25       23        19     21     21   36    20    28    140
26       32        20     37     38   19    32    29    178
27       28        20     28     19   27    26    28    148
28       23        34     36     23   37    20    28    173
29       24        23     37     21   32    20    20    157
30       37        22     20     37   39    28    37    183

In [13]:
temp.drop('Total',axis = 1, inplace = True)

In [14]:
temp

    January  Feburary  March  April  May  June  July
1        22        33     34     25   35    28    22
2        27        23     26     35   35    26    33
3        31        34     36     26   35    31    34
4        32        30     20     34   39    37    25
5        28        29     28     28   20    37    35
6        26        35     33     24   19    35    28
7        23        33     23     28   38    21    27
8        23        25     28     38   38    37    23
9        36        26     23     31   32    30    26
10       30        22     20     22   33    20    35
11       26        35     33     28   25    34    35
12       35        24     21     32   32    30    26
13       27        19     31     31   24    33    31
14       34        37     19     26   26    35    34
15       19        27     31     24   30    24    36
16       28        39     24     37   20    34    26
17       25        22     34     39   36    27    35
18       19        37     32     34   37    39    31
19       36        38     39     30   38    36    32
20       23        37     38     23   28    39    30
21       19        29     34     25   28    33    20
22       21        38     19     27   27    26    34
23       31        39     27     29   27    19    39
24       34        33     24     22   30    30    37
25       23        19     21     21   36    20    28
26       32        20     37     38   19    32    29
27       28        20     28     19   27    26    28
28       23        34     36     23   37    20    28
29       24        23     37     21   32    20    20
30       37        22     20     37   39    28    37

In [15]:

temp['Total'] = temp['January'] + temp['Feburary'] + temp['March'] + temp['April']  + temp['May']  + temp['June'] + temp['July']
temp

    January  Feburary  March  April  May  June  July  Total
1        22        33     34     25   35    28    22    199
2        27        23     26     35   35    26    33    205
3        31        34     36     26   35    31    34    227
4        32        30     20     34   39    37    25    217
5        28        29     28     28   20    37    35    205
6        26        35     33     24   19    35    28    200
7        23        33     23     28   38    21    27    193
8        23        25     28     38   38    37    23    212
9        36        26     23     31   32    30    26    204
10       30        22     20     22   33    20    35    182
11       26        35     33     28   25    34    35    216
12       35        24     21     32   32    30    26    200
13       27        19     31     31   24    33    31    196
14       34        37     19     26   26    35    34    211
15       19        27     31     24   30    24    36    191
16       28        39     24     37   20    34    26    208
17       25        22     34     39   36    27    35    218
18       19        37     32     34   37    39    31    229
19       36        38     39     30   38    36    32    249
20       23        37     38     23   28    39    30    218
21       19        29     34     25   28    33    20    188
22       21        38     19     27   27    26    34    192
23       31        39     27     29   27    19    39    211
24       34        33     24     22   30    30    37    210
25       23        19     21     21   36    20    28    168
26       32        20     37     38   19    32    29    207
27       28        20     28     19   27    26    28    176
28       23        34     36     23   37    20    28    201
29       24        23     37     21   32    20    20    177
30       37        22     20     37   39    28    37    220

In [16]:
temp.loc['AVG'] = temp.mean(axis = 0)
temp

,January,Feburary,March,April,May,June,July,Total
1,22.0,33.0,34.000000,25.000000,35.000000,28.000000,22.000000,199.000000
2,27.0,23.0,26.000000,35.000000,35.000000,26.000000,33.000000,205.000000
3,31.0,34.0,36.000000,26.000000,35.000000,31.000000,34.000000,227.000000
4,32.0,30.0,20.000000,34.000000,39.000000,37.000000,25.000000,217.000000
5,28.0,29.0,28.000000,28.000000,20.000000,37.000000,35.000000,205.000000
6,26.0,35.0,33.000000,24.000000,19.000000,35.000000,28.000000,200.000000
7,23.0,33.0,23.000000,28.000000,38.000000,21.000000,27.000000,193.000000
8,23.0,25.0,28.000000,38.000000,38.000000,37.000000,23.000000,212.000000
9,36.0,26.0,23.000000,31.000000,32.000000,30.000000,26.000000,204.000000
10,30.0,22.0,20.000000,22.000000,33.000000,20.000000,35.000000,182.000000
11,26.0,35.0,33.000000,28.000000,25.000000,34.000000,35.000000,216.000000
12,35.0,24.0,21.000000,32.000000,32.000000,30.000000,26.000000,200.000000
13,27.0,19.0,31.000000,31.000000,24.000000,33.000000,31.000000,196.000000
14,34.0,37.0,19.000000,26.000000,26.000000,35.000000,34.000000,211.000000
15,19.0,27.0,31.000000,24.000000,30.000000,24.000000,36.000000,191.000000
16,28.0,39.0,24.000000,37.000000,20.000000,34.000000,26.000000,208.000000
17,25.0,22.0,34.000000,39.000000,36.000000,27.000000,35.000000,218.000000
18,19.0,37.0,32.000000,34.000000,37.000000,39.000000,31.000000,229.000000
19,36.0,38.0,39.000000,30.000000,38.000000,36.000000,32.000000,249.000000
20,23.0,37.0,38.000000,23.000000,28.000000,39.000000,30.000000,218.000000
21,19.0,29.0,34.000000,25.000000,28.000000,33.000000,20.000000,188.000000
22,21.0,38.0,19.000000,27.000000,27.000000,26.000000,34.000000,192.000000
23,31.0,39.0,27.000000,29.000000,27.000000,19.000000,39.000000,211.000000
24,34.0,33.0,24.000000,22.000000,30.000000,30.000000,37.000000,210.000000
25,23.0,19.0,21.000000,21.000000,36.000000,20.000000,28.000000,168.000000
26,32.0,20.0,37.000000,38.000000,19.000000,32.000000,29.000000,207.000000
27,28.0,20.0,28.000000,19.000000,27.000000,26.000000,28.000000,176.000000
28,23.0,34.0,36.000000,23.000000,37.000000,20.000000,28.000000,201.000000
29,24.0,23.0,37.000000,21.000000,32.000000,20.000000,20.000000,177.000000
30,37.0,22.0,20.000000,37.000000,39.000000,28.000000,37.000000,220.000000
AVG,27.4,29.4,28.533333,28.566667,30.733333,29.566667,30.133333,204.333333

In [18]:
temp.drop('Total', axis = 1, inplace = True)

In [19]:
temp.drop('AVG', axis = 0, inplace = True)

In [20]:
temp.columns

Index(['January', 'Feburary', 'March', 'April', 'May', 'June', 'July'], dtype='object')

In [21]:
temp.rename({'January':'JAN', 'Feburary': 'FEB', 'March':'MAR', 'April':'APR', 'May': 'MAY', 'June': 'JUN', 'July':'JUL'},axis = 1, inplace = True)

In [22]:
temp

     JAN   FEB   MAR   APR   MAY   JUN   JUL
1   22.0  33.0  34.0  25.0  35.0  28.0  22.0
2   27.0  23.0  26.0  35.0  35.0  26.0  33.0
3   31.0  34.0  36.0  26.0  35.0  31.0  34.0
4   32.0  30.0  20.0  34.0  39.0  37.0  25.0
5   28.0  29.0  28.0  28.0  20.0  37.0  35.0
6   26.0  35.0  33.0  24.0  19.0  35.0  28.0
7   23.0  33.0  23.0  28.0  38.0  21.0  27.0
8   23.0  25.0  28.0  38.0  38.0  37.0  23.0
9   36.0  26.0  23.0  31.0  32.0  30.0  26.0
10  30.0  22.0  20.0  22.0  33.0  20.0  35.0
11  26.0  35.0  33.0  28.0  25.0  34.0  35.0
12  35.0  24.0  21.0  32.0  32.0  30.0  26.0
13  27.0  19.0  31.0  31.0  24.0  33.0  31.0
14  34.0  37.0  19.0  26.0  26.0  35.0  34.0
15  19.0  27.0  31.0  24.0  30.0  24.0  36.0
16  28.0  39.0  24.0  37.0  20.0  34.0  26.0
17  25.0  22.0  34.0  39.0  36.0  27.0  35.0
18  19.0  37.0  32.0  34.0  37.0  39.0  31.0
19  36.0  38.0  39.0  30.0  38.0  36.0  32.0
20  23.0  37.0  38.0  23.0  28.0  39.0  30.0
21  19.0  29.0  34.0  25.0  28.0  33.0  20.0
22  21.0  38.0  19.0  27.0  27.0  26.0  34.0
23  31.0  39.0  27.0  29.0  27.0  19.0  39.0
24  34.0  33.0  24.0  22.0  30.0  30.0  37.0
25  23.0  19.0  21.0  21.0  36.0  20.0  28.0
26  32.0  20.0  37.0  38.0  19.0  32.0  29.0
27  28.0  20.0  28.0  19.0  27.0  26.0  28.0
28  23.0  34.0  36.0  23.0  37.0  20.0  28.0
29  24.0  23.0  37.0  21.0  32.0  20.0  20.0
30  37.0  22.0  20.0  37.0  39.0  28.0  37.0

In [23]:
# replace a value
temp.iloc[0,0] = 25.0
temp

     JAN   FEB   MAR   APR   MAY   JUN   JUL
1   25.0  33.0  34.0  25.0  35.0  28.0  22.0
2   27.0  23.0  26.0  35.0  35.0  26.0  33.0
3   31.0  34.0  36.0  26.0  35.0  31.0  34.0
4   32.0  30.0  20.0  34.0  39.0  37.0  25.0
5   28.0  29.0  28.0  28.0  20.0  37.0  35.0
6   26.0  35.0  33.0  24.0  19.0  35.0  28.0
7   23.0  33.0  23.0  28.0  38.0  21.0  27.0
8   23.0  25.0  28.0  38.0  38.0  37.0  23.0
9   36.0  26.0  23.0  31.0  32.0  30.0  26.0
10  30.0  22.0  20.0  22.0  33.0  20.0  35.0
11  26.0  35.0  33.0  28.0  25.0  34.0  35.0
12  35.0  24.0  21.0  32.0  32.0  30.0  26.0
13  27.0  19.0  31.0  31.0  24.0  33.0  31.0
14  34.0  37.0  19.0  26.0  26.0  35.0  34.0
15  19.0  27.0  31.0  24.0  30.0  24.0  36.0
16  28.0  39.0  24.0  37.0  20.0  34.0  26.0
17  25.0  22.0  34.0  39.0  36.0  27.0  35.0
18  19.0  37.0  32.0  34.0  37.0  39.0  31.0
19  36.0  38.0  39.0  30.0  38.0  36.0  32.0
20  23.0  37.0  38.0  23.0  28.0  39.0  30.0
21  19.0  29.0  34.0  25.0  28.0  33.0  20.0
22  21.0  38.0  19.0  27.0  27.0  26.0  34.0
23  31.0  39.0  27.0  29.0  27.0  19.0  39.0
24  34.0  33.0  24.0  22.0  30.0  30.0  37.0
25  23.0  19.0  21.0  21.0  36.0  20.0  28.0
26  32.0  20.0  37.0  38.0  19.0  32.0  29.0
27  28.0  20.0  28.0  19.0  27.0  26.0  28.0
28  23.0  34.0  36.0  23.0  37.0  20.0  28.0
29  24.0  23.0  37.0  21.0  32.0  20.0  20.0
30  37.0  22.0  20.0  37.0  39.0  28.0  37.0

In [ ]:
# temp.replace({30:45}, inplace = True)

In [24]:
temp['MAR'].unique()

array([34., 26., 36., 20., 28., 33., 23., 21., 31., 19., 24., 32., 39.,
       38., 27., 37.])

In [25]:
temp['MAR'].nunique()

16

In [26]:
temp['MAR'].value_counts()

20.0    3
28.0    3
34.0    3
36.0    2
21.0    2
24.0    2
31.0    2
23.0    2
37.0    2
19.0    2
33.0    2
32.0    1
27.0    1
38.0    1
26.0    1
39.0    1
Name: MAR, dtype: int64