In [1]:
import numpy as np
import pandas as pd

In [6]:
month = ['January','Feburary','March','April','May','June']
days = np.arange(1,31)
np.random.seed(5)
readings = np.random.randint(19,40,180)
readings = readings.reshape(30,6)


temp = pd.DataFrame(data = readings ,index = days, columns = month)
temp

    January  Feburary  March  April  May  June
1        22        33     34     25   35    28
2        27        23     26     35   35    26
3        31        34     36     26   35    31
4        32        30     20     34   39    37
5        28        29     28     28   20    37
6        26        35     33     24   19    35
7        23        33     23     28   38    21
8        23        25     28     38   38    37
9        36        26     23     31   32    30
10       30        22     20     22   33    20
11       26        35     33     28   25    34
12       35        24     21     32   32    30
13       27        19     31     31   24    33
14       34        37     19     26   26    35
15       19        27     31     24   30    24
16       28        39     24     37   20    34
17       25        22     34     39   36    27
18       19        37     32     34   37    39
19       36        38     39     30   38    36
20       23        37     38     23   28    39
21       19        29     34     25   28    33
22       21        38     19     27   27    26
23       31        39     27     29   27    19
24       34        33     24     22   30    30
25       23        19     21     21   36    20
26       32        20     37     38   19    32
27       28        20     28     19   27    26
28       23        34     36     23   37    20
29       24        23     37     21   32    20
30       37        22     20     37   39    28

In [7]:
# this is how to return a single column
temp['March']

1     34
2     26
3     36
4     20
5     28
6     33
7     23
8     28
9     23
10    20
11    33
12    21
13    31
14    19
15    31
16    24
17    34
18    32
19    39
20    38
21    34
22    19
23    27
24    24
25    21
26    37
27    28
28    36
29    37
30    20
Name: March, dtype: int32

In [8]:
# return a single column in 2d
temp[['March']]

    March
1      34
2      26
3      36
4      20
5      28
6      33
7      23
8      28
9      23
10     20
11     33
12     21
13     31
14     19
15     31
16     24
17     34
18     32
19     39
20     38
21     34
22     19
23     27
24     24
25     21
26     37
27     28
28     36
29     37
30     20

In [9]:
temp[['January','March','June']]

    January  March  June
1        22     34    28
2        27     26    26
3        31     36    31
4        32     20    37
5        28     28    37
6        26     33    35
7        23     23    21
8        23     28    37
9        36     23    30
10       30     20    20
11       26     33    34
12       35     21    30
13       27     31    33
14       34     19    35
15       19     31    24
16       28     24    34
17       25     34    27
18       19     32    39
19       36     39    36
20       23     38    39
21       19     34    33
22       21     19    26
23       31     27    19
24       34     24    30
25       23     21    20
26       32     37    32
27       28     28    26
28       23     36    20
29       24     37    20
30       37     20    28

In [10]:
temp.loc[25] # in series

January     23
Feburary    19
March       21
April       21
May         36
June        20
Name: 25, dtype: int32

In [11]:
temp.loc[[25]] # in dataframe form

    January  Feburary  March  April  May  June
25       23        19     21     21   36    20

In [12]:
# how to select on a default label

temp.iloc[24]

January     23
Feburary    19
March       21
April       21
May         36
June        20
Name: 25, dtype: int32

In [13]:
temp.iloc[[24]]

    January  Feburary  March  April  May  June
25       23        19     21     21   36    20

In [15]:
temp.iloc[0:10,2:4]

    March  April
1      34     25
2      26     35
3      36     26
4      20     34
5      28     28
6      33     24
7      23     28
8      28     38
9      23     31
10     20     22

In [22]:
np.random.seed(5)
temp['July'] = np.random.randint(19,40,30).reshape(30,1)
temp

    January  Feburary  March  April  May  June  July  Total
1        22        33     34     25   35    28    22    202
2        27        23     26     35   35    26    33    209
3        31        34     36     26   35    31    34    227
4        32        30     20     34   39    37    25    218
5        28        29     28     28   20    37    35    189
6        26        35     33     24   19    35    28    194
7        23        33     23     28   38    21    27    190
8        23        25     28     38   38    37    23    209
9        36        26     23     31   32    30    26    203
10       30        22     20     22   33    20    35    173
11       26        35     33     28   25    34    35    203
12       35        24     21     32   32    30    26    207
13       27        19     31     31   24    33    31    193
14       34        37     19     26   26    35    34    203
15       19        27     31     24   30    24    36    181
16       28        39     24     37   20    34    26    207
17       25        22     34     39   36    27    35    216
18       19        37     32     34   37    39    31    221
19       36        38     39     30   38    36    32    246
20       23        37     38     23   28    39    30    217
21       19        29     34     25   28    33    20    191
22       21        38     19     27   27    26    34    177
23       31        39     27     29   27    19    39    207
24       34        33     24     22   30    30    37    209
25       23        19     21     21   36    20    28    164
26       32        20     37     38   19    32    29    200
27       28        20     28     19   27    26    28    182
28       23        34     36     23   37    20    28    209
29       24        23     37     21   32    20    20    192
30       37        22     20     37   39    28    37    213

In [24]:
# how to create a new column out of an existing column

temp['Total'] = temp['January'] + temp['Feburary'] + temp['March'] + temp['April']  + temp['May']  + temp['June']
temp

    January  Feburary  March  April  May  June  July  Total
1        22        33     34     25   35    28    22    177
2        27        23     26     35   35    26    33    172
3        31        34     36     26   35    31    34    193
4        32        30     20     34   39    37    25    192
5        28        29     28     28   20    37    35    170
6        26        35     33     24   19    35    28    172
7        23        33     23     28   38    21    27    166
8        23        25     28     38   38    37    23    189
9        36        26     23     31   32    30    26    178
10       30        22     20     22   33    20    35    147
11       26        35     33     28   25    34    35    181
12       35        24     21     32   32    30    26    174
13       27        19     31     31   24    33    31    165
14       34        37     19     26   26    35    34    177
15       19        27     31     24   30    24    36    155
16       28        39     24     37   20    34    26    182
17       25        22     34     39   36    27    35    183
18       19        37     32     34   37    39    31    198
19       36        38     39     30   38    36    32    217
20       23        37     38     23   28    39    30    188
21       19        29     34     25   28    33    20    168
22       21        38     19     27   27    26    34    158
23       31        39     27     29   27    19    39    172
24       34        33     24     22   30    30    37    173
25       23        19     21     21   36    20    28    140
26       32        20     37     38   19    32    29    178
27       28        20     28     19   27    26    28    148
28       23        34     36     23   37    20    28    173
29       24        23     37     21   32    20    20    157
30       37        22     20     37   39    28    37    183

In [19]:
temp.drop('Total',axis = 1, inplace = True)

In [20]:
temp

    January  Feburary  March  April  May  June  July
1        22        33     34     25   35    28    25
2        27        23     26     35   35    26    37
3        31        34     36     26   35    31    34
4        32        30     20     34   39    37    26
5        28        29     28     28   20    37    19
6        26        35     33     24   19    35    22
7        23        33     23     28   38    21    24
8        23        25     28     38   38    37    20
9        36        26     23     31   32    30    25
10       30        22     20     22   33    20    26
11       26        35     33     28   25    34    22
12       35        24     21     32   32    30    33
13       27        19     31     31   24    33    28
14       34        37     19     26   26    35    26
15       19        27     31     24   30    24    26
16       28        39     24     37   20    34    25
17       25        22     34     39   36    27    33
18       19        37     32     34   37    39    23
19       36        38     39     30   38    36    29
20       23        37     38     23   28    39    29
21       19        29     34     25   28    33    23
22       21        38     19     27   27    26    19
23       31        39     27     29   27    19    35
24       34        33     24     22   30    30    36
25       23        19     21     21   36    20    24
26       32        20     37     38   19    32    22
27       28        20     28     19   27    26    34
28       23        34     36     23   37    20    36
29       24        23     37     21   32    20    35
30       37        22     20     37   39    28    30

In [23]:

temp['Total'] = temp['January'] + temp['Feburary'] + temp['March'] + temp['April']  + temp['May']  + temp['June'] + temp['July']
temp

    January  Feburary  March  April  May  June  July  Total
1        22        33     34     25   35    28    22    199
2        27        23     26     35   35    26    33    205
3        31        34     36     26   35    31    34    227
4        32        30     20     34   39    37    25    217
5        28        29     28     28   20    37    35    205
6        26        35     33     24   19    35    28    200
7        23        33     23     28   38    21    27    193
8        23        25     28     38   38    37    23    212
9        36        26     23     31   32    30    26    204
10       30        22     20     22   33    20    35    182
11       26        35     33     28   25    34    35    216
12       35        24     21     32   32    30    26    200
13       27        19     31     31   24    33    31    196
14       34        37     19     26   26    35    34    211
15       19        27     31     24   30    24    36    191
16       28        39     24     37   20    34    26    208
17       25        22     34     39   36    27    35    218
18       19        37     32     34   37    39    31    229
19       36        38     39     30   38    36    32    249
20       23        37     38     23   28    39    30    218
21       19        29     34     25   28    33    20    188
22       21        38     19     27   27    26    34    192
23       31        39     27     29   27    19    39    211
24       34        33     24     22   30    30    37    210
25       23        19     21     21   36    20    28    168
26       32        20     37     38   19    32    29    207
27       28        20     28     19   27    26    28    176
28       23        34     36     23   37    20    28    201
29       24        23     37     21   32    20    20    177
30       37        22     20     37   39    28    37    220

In [29]:
temp.loc['AVG'] = (sum(temp['January']/len(temp)),sum(temp['Feburary']/len(temp)),sum(temp['March']/len(temp)),sum(temp['April']/len(temp)),sum(temp['May']/len(temp)),sum(temp['June'/]len(temp)),sum(temp['July']/len(temp)),sum(temp['Total']/len(temp)))
temp

SyntaxError: invalid syntax (<ipython-input-29-1c762e398adc>, line 1)

In [ ]:
temp.drop('Total', axis = 1, inplace = true)

In [ ]:
temp.drop('AVG', axis = 0, inplace = true)

In [30]:
temp.columns

Index(['January', 'Feburary', 'March', 'April', 'May', 'June', 'July',
       'Total'],
      dtype='object')

In [32]:
temp.rename({'January':'JAN', 'Feburary': 'FEB', 'March':'MAR', 'April':'APR', 'May': 'MAY', 'June': 'JUN', 'July':'JUL'},axis = 1, inplace = True)

In [33]:
temp

    JAN  FEB  MAR  APR  MAY  JUN  JUL  Total
1    22   33   34   25   35   28   22    177
2    27   23   26   35   35   26   33    172
3    31   34   36   26   35   31   34    193
4    32   30   20   34   39   37   25    192
5    28   29   28   28   20   37   35    170
6    26   35   33   24   19   35   28    172
7    23   33   23   28   38   21   27    166
8    23   25   28   38   38   37   23    189
9    36   26   23   31   32   30   26    178
10   30   22   20   22   33   20   35    147
11   26   35   33   28   25   34   35    181
12   35   24   21   32   32   30   26    174
13   27   19   31   31   24   33   31    165
14   34   37   19   26   26   35   34    177
15   19   27   31   24   30   24   36    155
16   28   39   24   37   20   34   26    182
17   25   22   34   39   36   27   35    183
18   19   37   32   34   37   39   31    198
19   36   38   39   30   38   36   32    217
20   23   37   38   23   28   39   30    188
21   19   29   34   25   28   33   20    168
22   21   38   19   27   27   26   34    158
23   31   39   27   29   27   19   39    172
24   34   33   24   22   30   30   37    173
25   23   19   21   21   36   20   28    140
26   32   20   37   38   19   32   29    178
27   28   20   28   19   27   26   28    148
28   23   34   36   23   37   20   28    173
29   24   23   37   21   32   20   20    157
30   37   22   20   37   39   28   37    183

In [34]:
# replace a value
temp.iloc[0,0] = 25.0
temp

    JAN  FEB  MAR  APR  MAY  JUN  JUL  Total
1    25   33   34   25   35   28   22    177
2    27   23   26   35   35   26   33    172
3    31   34   36   26   35   31   34    193
4    32   30   20   34   39   37   25    192
5    28   29   28   28   20   37   35    170
6    26   35   33   24   19   35   28    172
7    23   33   23   28   38   21   27    166
8    23   25   28   38   38   37   23    189
9    36   26   23   31   32   30   26    178
10   30   22   20   22   33   20   35    147
11   26   35   33   28   25   34   35    181
12   35   24   21   32   32   30   26    174
13   27   19   31   31   24   33   31    165
14   34   37   19   26   26   35   34    177
15   19   27   31   24   30   24   36    155
16   28   39   24   37   20   34   26    182
17   25   22   34   39   36   27   35    183
18   19   37   32   34   37   39   31    198
19   36   38   39   30   38   36   32    217
20   23   37   38   23   28   39   30    188
21   19   29   34   25   28   33   20    168
22   21   38   19   27   27   26   34    158
23   31   39   27   29   27   19   39    172
24   34   33   24   22   30   30   37    173
25   23   19   21   21   36   20   28    140
26   32   20   37   38   19   32   29    178
27   28   20   28   19   27   26   28    148
28   23   34   36   23   37   20   28    173
29   24   23   37   21   32   20   20    157
30   37   22   20   37   39   28   37    183

In [35]:
# temp.replace({30:45}, inplace = True)

In [36]:
temp['MAR'].unique()

array([34, 26, 36, 20, 28, 33, 23, 21, 31, 19, 24, 32, 39, 38, 27, 37])

In [37]:
temp['MAR'].nunique()

16

In [38]:
temp['MAR'].value_counts()

28    3
20    3
34    3
31    2
24    2
23    2
21    2
19    2
37    2
36    2
33    2
27    1
26    1
39    1
38    1
32    1
Name: MAR, dtype: int64